<div class="container about mb-4">
    <h2>About me</h2>
    <br>
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="img__aboutme">
                <img src="assets/img/programming.svg" width="460" height="345" alt="Programming">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="about__write">
                <h3>Hello!</h3>
                <p>
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.

                </p>
                <p>
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                    Lorem Ipsum lorem, tellus ac magna aliquet lore tell us.
                </p>
                <br>
            </div>
            <div class="div__button">
                <a href="assets/cv/CURRICULO_VITAL.pdf" class="btn btn-outline-dark">
                    <span>Download CV</span> &nbsp;
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </div>
        </div>
    </div>
</div>