<div class="container mt-5 mb-5 animated fadeIn">
    <div class="row skill_web">
        <div class="col-md-4">
            <h3 class="title_skill">FRONTEND</h3>
            <div class="skill_item">
                <div class="skill">
                    <div>
                        <i class="fa-brands fa-html5" style="color: #f73a09;"></i>
                        <p class="name_skill">HTML</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-css3-alt" style="color: #2ea2d3;"></i>
                        <p class="name_skill">CSS</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-js-square" style="color: #ffe300;"></i>
                        <p class="name_skill">JS</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-angular" style="color: #bd002e;"></i>
                        <p class="name_skill">ANGULAR</p>
                    </div>
                    <div>
                        <img src="assets/img/skill/typescript.PNG" alt="typescript" class="fa-img">
                        <p class="name_skill">TS</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-bootstrap" style="color: #9c46fb;"></i>
                        <p class="name_skill">BOOTSTRAP</p>
                    </div>
                    <!-- <div>
                        <i class="fa-brands fa-sass" style="color: #c96598;"></i>
                        <p class="name_skill">SASS</p>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="title_skill">BACKEND</h3>
            <div class="skill_item">
                <div class="skill">
                    <div>
                        <img src="assets/img/skill/spring.png" alt="Spring" class="fa-img">
                        <p class="name_skill">SPRING</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-node" style="color: #4cae50;"></i>
                        <p class="name_skill">NODE.JS</p>
                    </div>
                    <div>
                        <img src="assets/img/skill/MySQL.png" alt="MySQL" class="fa-img">
                        <p class="name_skill">MYSQL</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-database" style="color: #feb300;"></i>
                        <p class="name_skill">SQL</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="title_skill">SOFT SKILLS</h3>
            <div class="skill_item">
                <div class="skill">
                    <div>
                        <i class="fa-brands fa-github"></i>
                        <p class="name_skill">GITHUB</p>
                    </div>
                    <div>
                        <i class="fa-brands fa-git-alt" style="color: #f05133;"></i>
                        <p class="name_skill">GIT</p>
                    </div>
                    <div>
                        <img src="assets/img/skill/postman.svg" alt="Postman" class="fa-img">
                        <p class="name_skill">POSTMAN</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>