<div class="principal-home banner">
    <div class="info mt-4">
        <div class="img-info">
            <img src="assets/img/logoo.png" alt="Wilian Morales" class="image-photo">
        </div>
        <h1 class="name">Wilian Morales</h1>
        <h5 class="title-sub">Front end Developer <i class="fas fa-code"></i> </h5>
    </div>
    <div class="social-nav">
        <a href="https://github.com/WilianMorales" target="_blanck" class="social__icon">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/william.morales04/" target="_blanck" class="social__icon">
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://walink.co/612de7" target="_blanck" class="social__icon">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/wilian-moralesch/" target="_blanck" class="social__icon">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:willian.moralesch@gmail.com" class="social__icon" title="Enviar un correo a Wilian" target="_BLANK">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</div>


<router-outlet></router-outlet>


<app-footer></app-footer>