<footer class="footer mt-auto bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 text-center footer-nav">
                <p>
                   &copy; <strong>{{ anio }}</strong> | Powered by &nbsp; <i class="fas fa-terminal"
                        style="color: #ffc107"></i>
                        <a href="https://github.com/WilianMorales" target="_blanck" >Wilian Morales</a>
                </p>
            </div>
        </div>
    </div>
</footer>